<div id="cuarta-seccion">
    <div id="contenedor">
            <div id="cuarta-seccion-izq" class="mitad">
                <h3>Contáctate con nosotros</h3>
                <hr>
                <p>Direccion: Norte de Quito
                    <br>
                         Av.6 de Diciembre & Granados
                         <br><br>
                         Teléfono: 0983920041 | 0965623510
                         <br><br>
                         Coreo Electronico: normanjoelmartinez@gmail.com
                      
                </p>
                <a href="#" class="btn-rojo">Mas informacion</a>
            </div>
            <div id="cuarta-seccion-der" class="mitad">
                <h3>Descubre hasta donde puedes llegar</h3>
                <hr>
                <p>La calistenia se define como un grupo de ejercicios centrados en los movimientos de los grupos musculares con la finalidad de desarrollar en mayor medida la agilidad, la fuerza y la flexibilidad. Lo que caracteriza, en mayor medida, el desarrollo de esta actividad es que son ejercicios que se desarrollan sin ningún tipo de material. Suelen considerarse ejercicios previos a actividades de intensidad alta.</p>
                <a href="#" class="btn-rojo">Mas informacion</a>
            </div>
    </div>
</div>
</body>
</html>
