<body>
    <div id="primera-seccion">
        <div id="barra">
            <p id="logo"> <span style="color: #F52600;">NOMADA |</span> CALISTENIA</p>
            <nav>
                <a href="·">Inicio</a>
                <a href="·">Servicios</a>
                <a href="·">Contactos</a>
            </nav>
        </div>

        <div id="primera-seccion-contenido">
            <p>Artículos deportivos</p>
            <hr>
            <h1>TIENDA DE CALISTENIA ONLINE</h1>
            <a href="#" class="btn-rojo">MAS INFORMACIÓN</a>
        </div>
</div>