<div id="segunda-seccion">
    <p class="frase">¡Prométete que no pararás hasta conseguir lo quieres!</p>
    <p class="frase">Productos 100% garantizados y utilizados en deportistas de élite</p>
</div>